labs/xml/q3_1.xml

<?xml version="1.0" encoding="utf8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="project">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
            	<xs:element name="contacter" type="xs:string"/>
            	<xs:element name="speciality" type="xs:string"/>
            	<xs:element name="chief-supervisor" type="xs:string"/>
            	<xs:element name="co-supervisor" type="xs:string"/>
				<xs:element name="students">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="student" type="studentType" maxOccurs="3"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="studentType">
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="e-mail" type="xs:string"/>
			<xs:attribute name="phone" type="xs:string"/>
	</xs:complexType>	
</xs:schema>
