labs/xml/q3_3.xml

<?xml version="1.0" encoding="utf8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="class">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="students">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="student" type="studentType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="projects">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="project" type="projectType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="students-projects">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="student-project" type="spType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="studentType">
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="e-mail" type="xs:string"/>
			<xs:attribute name="phone" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="projectType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
            <xs:element name="contacter" type="xs:string"/>
            <xs:element name="speciality" type="xs:string"/>
            <xs:element name="chief-supervisor" type="xs:string"/>
            <xs:element name="co-supervisor" type="xs:string"/>
        </xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="spType">
			<xs:attribute name="idrefs" type="xs:IDREFS"/>
	</xs:complexType>
</xs:schema>

<?xml version="1.0" encoding="utf-8"?>
<class>
  <students>
    <student id="s1" name="str1234" e-mail="str1234" phone="str1234" />
    <student id="s2" name="str1234" e-mail="str1234" phone="str1234" />
  </students>
  <projects>
    <project id="p1">
      <name>str1234</name>
      <contacter>str1234</contacter>
      <speciality>str1234</speciality>
      <chief-supervisor>str1234</chief-supervisor>
      <co-supervisor>str1234</co-supervisor>
    </project>
  </projects>
  <students-projects>
    <student-project idrefs="s1 p1" />
    <student-project idrefs="s2 p1" />
  </students-projects>
</class>
